<div class="container">
  <span class="big-circle"></span>
  <img src="img/shape.png" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 for="firstNAme">Welcome !</h3>
      <p class="text">
        IF YOU DON'T HAVE AN ACCOUNT, JUST SIGN UP.<br><br>
        Happy to see you!
      </p>
     <label for="lastname1"> <br><br> </label>
      <button type="button" class=" btn ">SIGN UP</button>





    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>




      <form >
        <h3 for="firstname1">Connexion</h3>
        <div class="card">

          <div class="field">
              <label for="firstname1">E-mail</label>
              <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
          </div>
          <div class="field">
              <label for="lastname1">password</label>
              <input id="lastname1" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
          </div>
      </div>
      <label for="lastname1"> <br><br> </label>
      <button type="button" class=" btn ">Connexion</button>
      </form>
    </div>
  </div>
</div>
