<div class="container">
  <span class="big-circle"></span>
  <img src="img/shape.png" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 for="firstNAme">Welcome !</h3>
      <p class="text">
        IF YOU  HAVE  ALREADY AN ACCOUNT, JUST SIGN IN.
        Happy to see you AGAIN !
      </p>
     <label for="lastname1"> <br><br> </label>
      <button type="button" class=" font-bold text-gray-100 text-base text-color surface-overlay p-3 border-3 border-radius surface-border  appearance-none appearance-none focus:border-primary w-5 ">SIGN UP</button>





    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>




      <form >
        <h3 for="firstname1">INSCRIPTION</h3>
        <div class="card">

          <div class="field">
              <label for="firstname1">E-mail</label>
              <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
          </div>
          <div class="field">
              <label for="lastname1">password</label>
              <input id="lastname1" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
          </div>
      </div>
      <label for="lastname1"> <br><br> </label>
      <button type="button" class=" font-bold text-gray-100 text-base text-color surface-overlay p-3 border-3 border-radius surface-border  appearance-none appearance-none focus:border-primary w-5 ">Sign up</button>
      </form>
    </div>
  </div>
</div>
